<h1>Listing volunteers</h1>

<table>
  <tr>
    <th>Location</th>
    <th>Vtype</th>
    <th>Gender</th>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Middlename</th>
    <th>Unit</th>
    <th>Address</th>
    <th>Phone1</th>
    <th>Phone2</th>
    <th>Birthdate</th>
    <th>Startdate</th>
    <th>Emailaddress</th>
    <th>Postalcode</th>
    <th>Emergcontactname</th>
    <th>Emergcontactphone</th>
    <th>Notes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @volunteers.each do |volunteer| %>
  <tr>
    <td><%= volunteer.location %></td>
    <td><%= volunteer.vtype %></td>
    <td><%= volunteer.gender %></td>
    <td><%= volunteer.firstname %></td>
    <td><%= volunteer.lastname %></td>
    <td><%= volunteer.middlename %></td>
    <td><%= volunteer.unit %></td>
    <td><%= volunteer.address %></td>
    <td><%= volunteer.phone1 %></td>
    <td><%= volunteer.phone2 %></td>
    <td><%= volunteer.birthdate %></td>
    <td><%= volunteer.startdate %></td>
    <td><%= volunteer.emailaddress %></td>
    <td><%= volunteer.postalcode %></td>
    <td><%= volunteer.emergcontactname %></td>
    <td><%= volunteer.emergcontactphone %></td>
    <td><%= volunteer.notes %></td>
    <td><%= link_to 'Show', volunteer %></td>
    <td><%= link_to 'Edit', edit_volunteer_path(volunteer) %></td>
    <td><%= link_to 'Destroy', volunteer, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Volunteer', new_volunteer_path %>
