<p id="notice"><%= notice %></p>

<p>
  <b>Location:</b>
  <%= @volunteer.location %>
</p>

<p>
  <b>Vtype:</b>
  <%= @volunteer.vtype %>
</p>

<p>
  <b>Gender:</b>
  <%= @volunteer.gender %>
</p>

<p>
  <b>Firstname:</b>
  <%= @volunteer.firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%= @volunteer.lastname %>
</p>

<p>
  <b>Middlename:</b>
  <%= @volunteer.middlename %>
</p>

<p>
  <b>Unit:</b>
  <%= @volunteer.unit %>
</p>

<p>
  <b>Address:</b>
  <%= @volunteer.address %>
</p>

<p>
  <b>Phone1:</b>
  <%= @volunteer.phone1 %>
</p>

<p>
  <b>Phone2:</b>
  <%= @volunteer.phone2 %>
</p>

<p>
  <b>Birthdate:</b>
  <%= @volunteer.birthdate %>
</p>

<p>
  <b>Startdate:</b>
  <%= @volunteer.startdate %>
</p>

<p>
  <b>Emailaddress:</b>
  <%= @volunteer.emailaddress %>
</p>

<p>
  <b>Postalcode:</b>
  <%= @volunteer.postalcode %>
</p>

<p>
  <b>Emergcontactname:</b>
  <%= @volunteer.emergcontactname %>
</p>

<p>
  <b>Emergcontactphone:</b>
  <%= @volunteer.emergcontactphone %>
</p>

<p>
  <b>Notes:</b>
  <%= @volunteer.notes %>
</p>


<%= link_to 'Edit', edit_volunteer_path(@volunteer) %> |
<%= link_to 'Back', volunteers_path %>
