<div class="container">

    <%= render :partial => "home/header" %>
		
	<div class="main">

		<div class="item">
            
            <div class="date">
                <div>&nbsp</div>
                <span>&nbsp</span>
            </div>

            <div class="content">
                <h1>Listing Client Type</h1>
                
                <div class="body">                    

                    <table>
                      <tr>
                        <th width="86%" style="text-align:left;">Description</th>
                        <th width="8%"></th>
                        <th width="6%"></th>
                      </tr>

                    <% @ctypes.each do |ctype| %>
                      <tr bgcolor="<%= cycle("E8F6BF", "FFFFFF")%>">
                        <td><%= ctype.description %>
                        <td><%= link_to 'Show', ctype %></td>
                        <td><%= link_to 'Edit', edit_ctype_path(ctype) %></td>
                      </tr>
                    <% end %>
                    </table>

                    <br />

                    <%= link_to 'New Client Type', new_ctype_path %>
                </div>
            </div>
        </div>
	</div>

    <%= render :partial => "home/navigation" %>
	
	<div class="clearer"><span></span></div>

    <%= render :partial => "home/footer" %>

</div>       