<tr bgcolor="<%= cycle("E8F6BF", "FFFFFF")%>">
	<td><%= foodhamper.pickupdate %></td>
	<td><%= foodhamper.referral.get_referral_summary %></td>
	<td><%= foodhamper.family %></td>
	<td><%= link_to 'Show', foodhamper %></td>
	<td><%= link_to 'Edit', edit_foodhamper_path(foodhamper) %></td>
</tr>
