<%= form_for(@foodhamper) do |foodhamper_form| %>
  <% if @foodhamper.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@foodhamper.errors.count, "error") %> prohibited this food hamper from being saved:</h2>

      <ul>
      <% @foodhamper.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <% @family_readonly = (not params[:family_id].nil?) && (params[:action] == "new") %>
  <div class="field">
    <% if @family_readonly %>
        <%= foodhamper_form.hidden_field :family_id, {:readonly => true, :hidden => true, :value => params[:family_id]} %>
        
    <% else %>
		<%= foodhamper_form.label :family %><br />
		<% @families = Family.all.map{|f| [f.comment, f.id]} %>
		<%= foodhamper_form.select(:family_id, @families, {:include_blank => "--Select a Family--"}) %>
    <% end %>
  </div>
  
  <div class="field">
    <%= foodhamper_form.label :referral %><br />
    <% @referral_find_string = "SELECT * FROM referrals WHERE id NOT IN (SELECT referral_id FROM foodhampers GROUP BY referral_id)" %>
    <% @referrals = Referral.find_by_sql(@referral_find_string).map{|r| [r.get_referral_summary, r.id]} %>
    <%= foodhamper_form.select(:referral_id, @referrals, {:include_blank => "--Select a Referral--"}) %>
  </div>

  <div class="field">
    <%= foodhamper_form.label :pickupdate, "Pickup Date" %><br />
    <%= foodhamper_form.date_select :pickupdate %>
  </div>
  <div class="field">
    <%= foodhamper_form.label :pickupperson, "Pickup Person" %><br />
    <%= foodhamper_form.text_field :pickupperson %>
  </div>
  <div class="field">
    <%= foodhamper_form.label :weight %><br />
    <%= foodhamper_form.text_field :weight %>
  </div>
  <div class="field">
    <%= foodhamper_form.label :details %><br />
    <%= foodhamper_form.text_area :details %>
  </div>
  <div class="actions">
    <% if params[:action] == "new"
            @submit_label = "Create Hamper"
       else
            @submit_label = "Update Hamper"
       end %>
    <%= foodhamper_form.submit @submit_label%>
  </div>
<% end %>
