<div class="container">

	<%= render :partial => "home/header" %>

	<div class="main">

		<div class="item">

		<div class="date">
			<div>&nbsp</div>
			<span>&nbsp</span>
		</div>

		<div class="content">
			<h1>Showing Food Hamper</h1>

			<div class="body">

				<p>
					<b>Weight:</b>
					<%= @foodhamper.weight %>
				</p>

				<p>
					<b>Pickup Date:</b>
					<%= @foodhamper.pickupdate %>
				</p>

				<p>
					<b>Pickup Person:</b>
					<%= @foodhamper.pickupperson %>
				</p>

				<p>
					<b>Referral:</b>
					<%= @foodhamper.referral.get_referral_summary %>
				</p>

				<p>
					<b>Family:</b>
					<%= @foodhamper.family.get_family_summary %>
				</p>

				<p>
					<b>Details:</b>
					<%= @foodhamper.details %>
				</p>


				<%= link_to 'Edit', edit_foodhamper_path(@foodhamper) %> |
				<%= link_to 'Back to Family', family_path(@family_id) %>
				</div><!--body-->
			</div><!--content-->
		</div><!--item-->
	</div><!--main-->

	<%= render :partial => "home/navigation" %>

	<div class="clearer"><span></span></div>

	<%= render :partial => "home/footer" %>

</div>    
