<%= form_for(@indonation) do |f| %>
  <% if @indonation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@indonation.errors.count, "error") %> prohibited this indonation from being saved:</h2>

      <ul>
      <% @indonation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :donor %><br />
    <%= f.text_field :donor %>
  </div>
  <div class="field">
    <%= f.label :donationdate %><br />
    <%= f.date_select :donationdate %>
  </div>
  <div class="field">
    <%= f.label :weightdonated %><br />
    <%= f.text_field :weightdonated %>
  </div>
  <div class="field">
    <%= f.label :moneydonated %><br />
    <%= f.text_field :moneydonated %>
  </div>
  <div class="field">
    <%= f.label :details %><br />
    <%= f.text_area :details %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
