<div class="container">

	<%= render :partial => "home/header" %>

	<div class="main">

		<div class="item">

			<div class="date">
				<div>&nbsp</div>
				<span>&nbsp</span>
			</div>

			<div class="content">
				<h1>Showing Incoming Donation</h1>

				<div class="body">

					<% if not notice.nil? %>
						<p id="notice"><%= notice %></p>
					<% end %>  
					
					<p>
						<b>Donor:</b>
						<%= Donor.find(@indonation.donor_id).name %>
					</p>

					<p>
						<b>Date:</b>
						<%= @indonation.donationdate %>
					</p>

					<p>
						<b>Weight of Items Donated:</b>
						<%= @indonation.weightdonated %>
					</p>

					<p>
						<b>Money Donated:</b>
						<%= @indonation.moneydonated %>
					</p>

					<p>
						<b>Details:</b>
						<%= @indonation.details %>
					</p>


					<%= link_to 'Edit', edit_indonation_path(@indonation) %> |
					<%= link_to 'Back', indonations_path %>
				</div><!--body-->
			</div><!--content-->
		</div><!--item-->
	</div><!--main-->

	<%= render :partial => "home/navigation" %>

	<div class="clearer"><span></span></div>

	<%= render :partial => "home/footer" %>

</div><!--container-->
