<div class="container">

    <%= render :partial => "home/header" %>
		
	<div class="main">

		<div class="item">
            
            <div class="date">
                <div>&nbsp</div>
                <span>&nbsp</span>
            </div>

            <div class="content">
                <h1>Resend Confirmation Instructions</h1>

                <div class="body">

			<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
			  <%= devise_error_messages! %>

			  <div><%= f.label :email %><br />
			  <%= f.email_field :email %></div>

			  <div><%= f.submit "Resend" %></div>
			<% end %>

			<%= render "links" %>
		</div>
            </div>
        </div>
	</div>

    <%= render :partial => "home/navigation" %>
	
	<div class="clearer"><span></span></div>

    <%= render :partial => "home/footer" %>

</div>
