<div class="container">

    <%= render :partial => "home/header" %>
		
	<div class="main">

		<div class="item">
            
            <div class="date">
                <div>&nbsp</div>
                <span>&nbsp</span>
            </div>

            <div class="content">
                <h1>Listing Donors</h1>
                
                <div class="body">  
                
                    <% if @donors.nil? || @donors.empty? %>
                        
                        <p>There are no donors.</p>
                    
                    <% else %>
                    
                        <table width="100%">
                          <tr width="100%">
                            <th>Name</th>
                            <th>Location</th>
                            <th>Type</th>
                            <th width="6%"></th>
                            <th width="8%"></th>
                          </tr>

                        <% @donors.each do |donor| %>
                          <tr>
                            <td><%= donor.name %></td>
                            <td><%= donor.location.get_location_name %></td>
                            <td><%= donor.dtype.description unless (donor.dtype.nil?) %></td>
                            <td><%= link_to 'Show', donor %></td>
                            <td><%= link_to 'Edit', edit_donor_path(donor) %></td>
                          </tr>
                        <% end %>
                        </table>
                        
                    <% end %>

                    <br />

                    <%= link_to 'New Donor', new_donor_path %>

                </div>
            </div>
        </div>
	</div>

    <%= render :partial => "home/navigation" %>
	
	<div class="clearer"><span></span></div>

    <%= render :partial => "home/footer" %>

</div>    