<div class="container">

    <%= render :partial => "home/header" %>
		
	<div class="main">

		<div class="item">
            
            <div class="date">
                <div>&nbsp</div>
                <span>&nbsp</span>
            </div>

            <div class="content">
                <h1>Showing Donor</h1>
                
                <div class="body">  

                    <p>
                      <b>Name:</b>
                      <%= @donor.name %>
                    </p>

                    <p>
                      <b>Phone Number:</b>
                      <%= @donor.phone1 %>
                    </p>

                    <p>
                      <b>Alternate Phone Number:</b>
                      <%= @donor.phone2 %>
                    </p>

                    <p>
                      <b>Unit:</b>
                      <%= @donor.unit %>
                    </p>

                    <p>
                      <b>Address:</b>
                      <%= @donor.address %>
                    </p>

                    <p>
                      <b>Email Address:</b>
                      <%= @donor.emailaddress %>
                    </p>

                    <p>
                      <b>Contact:</b>
                      <%= @donor.contact %>
                    </p>

                    <p>
                      <b>Location:</b>
                      <%= @donor.location.get_location_name %>
                    </p>

                    <p>
                      <b>Donor Type:</b>
                      <%= Dtype.find(@donor.dtype_id).description unless (@donor.dtype_id.nil?) %>
                    </p>


                    <%= link_to 'Edit', edit_donor_path(@donor) %> |
                    <%= link_to 'Back', donors_path %>
                </div>
            </div>
        </div>
	</div>

    <%= render :partial => "home/navigation" %>
	
	<div class="clearer"><span></span></div>

    <%= render :partial => "home/footer" %>

</div> 