<p id="notice"><%= notice %></p>

<p>
  <b>Location:</b>
  <%= @refagency.location %>
</p>

<p>
  <b>Name:</b>
  <%= @refagency.name %>
</p>

<p>
  <b>Phone1:</b>
  <%= @refagency.phone1 %>
</p>

<p>
  <b>Phone2:</b>
  <%= @refagency.phone2 %>
</p>

<p>
  <b>Unit:</b>
  <%= @refagency.unit %>
</p>

<p>
  <b>Address:</b>
  <%= @refagency.address %>
</p>

<p>
  <b>Contact:</b>
  <%= @refagency.contact %>
</p>

<p>
  <b>Emailaddress:</b>
  <%= @refagency.emailaddress %>
</p>

<p>
  <b>Refagencycategory:</b>
  <%= @refagency.refagencycategory %>
</p>


<%= link_to 'Edit', edit_refagency_path(@refagency) %> |
<%= link_to 'Back', refagencies_path %>
