<%= form_for([@client, @client.cnotes.build]) do |f| %>

    <div class="field">
        <%= f.label :notedate, "Date" %><br />
        <%= f.date_select :notedate %>
    </div>
    <div class="field">
        <%= f.label :note %><br />
        <%= f.text_area :note %>
    </div>
    <div class="actions">
        <%= f.submit "Create Note" %>
    </div>
<% end %>