<%= form_for(@vhour) do |f| %>
  <% if @vhour.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vhour.errors.count, "error") %> prohibited this vhour from being saved:</h2>

      <ul>
      <% @vhour.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <% @volunteer_readonly = (not params[:volunteer_id].nil?) && (params[:action] == "new") %>

  <div class="field">
    <% if @volunteer_readonly %>
        <%= f.text_field :volunteer_id, {:readonly => true, :hidden => true, :value => params[:volunteer_id]} %>
        
    <% else %>
        <%= f.label :volunteer_id, "Volunteer" %><br />
        <%  @volunteers = Volunteer.all.map{|v| [v.get_volunteer_name, v.id]} %>
        <%= f.select(:volunteer_id, @volunteers, {:include_blank => "--Select a Volunteer--"}) %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :hoursworked, "Hours Worked" %><br />
    <%= f.text_field :hoursworked %>
  </div>
  <div class="field">
    <%= f.label :details %><br />
    <%= f.text_area :details %>
  </div>
  <div class="actions">
    <% if params[:action] == "new"
            @submit_label = "Create Hours Entry"
       else
            @submit_label = "Update Hours Entry"
       end %>
    <%= f.submit @submit_label%>
  </div>
<% end %>
