<tr bgcolor="<%= cycle("E8F6BF", "FFFFFF")%>">
    <td><%= family.get_primaryclient_name %></td>
    <td><%= family.comment %></td>
    <td><%= family.redflag %></td>
    <td><%= family.phone1 %></td>
    <td><%= link_to 'Show', family %></td>
    <td><%= link_to 'Edit', edit_family_path(family) %></td>
</tr>