  <tr bgcolor="<%= cycle("E8F6BF", "FFFFFF")%>">
    <td><%= family.get_primaryclient_name %></td>
    <td><%= number_to_phone(family.phone1, :area_code => true) %></td>
    <td class="actions"><%= link_to 'Show', family %></td>
    <td class="actions"><%= link_to 'Edit', edit_family_path(family) %></td>
    <td class="actions"><%= link_to 'Delete', family, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>