<div class="container">

    <%= render :partial => "home/header" %>
		
	<div class="main">

		<div class="item">
            
            <div class="date">
                <div>&nbsp</div>
                <span>&nbsp</span>
            </div>

            <div class="content">
                <h1>Listing Families</h1>
                
                <div class="body">  
                
                    <% if @families.nil? || @families.empty? %>
                        
                        <p>There are no families.</p>
                    
                    <% else %>
                    
                        <table>
                          <tr width="100%">
                            <th>Head of Household</th>
                            <th>Comment</th>
                            <th width="6%">!</th>
                            <th>Phone</th>
                            <th width="6%"></th>
                            <th width="8%"></th>
                          </tr>

                        <% @families.each do |family| %>
                          <tr bgcolor="<%= cycle("E8F6BF", "FFFFFF")%>">
                            <td><%= family.get_primaryclient_name %></td>
                            <td><%= family.comment %></td>
                            <td><%= family.redflag %></td>
                            <td><%= family.phone1 %></td>
                            <td><%= link_to 'Show', family %></td>
                            <td><%= link_to 'Edit', edit_family_path(family) %></td>
                          </tr>
                        <% end %>
                        </table>
                        
                    <% end %>

                    <br />

                    <%= link_to 'New Family', new_family_path %>
                </div>
            </div>
        </div>
	</div>

    <%= render :partial => "home/navigation" %>
	
	<div class="clearer"><span></span></div>

    <%= render :partial => "home/footer" %>

</div>  