<tr bgcolor="<%= cycle("E8F6BF", "FFFFFF")%>">
    <td><%= client.get_client_name %></td>
    <td><%= client.birthdate %></td>
    <td><%= link_to 'Show', client %></td>
    <td><%= link_to 'Edit', edit_client_path(client) %></td>
</tr>



