<div class="container">

    <%= render :partial => "home/header" %>
		
	<div class="main">

		<div class="item">
            
            <div class="date">
                <div>&nbsp</div>
                <span>&nbsp</span>
            </div>

            <div class="content">
                <h1>Listing Clients</h1>

                <div class="body">
                
                    <% if @clients.nil? || @clients.empty? %>
                        
                        <p>There are no clients.</p>
                    
                    <% else %>
                    
                        <table>
                          <tr>
                            <th>Name</th>
                            <th>Birth Date</th>
                            <th></th>
                            <th></th>
                            <th></th>
                          </tr>
                        <% @clients.each do |client| %>
                          <tr bgcolor="<%= cycle("E8F6BF", "FFFFFF")%>">
                            <td><%= client.get_client_name %></td>
                            <td><%= client.birthdate %></td>
                            <td class="actions"><%= link_to 'Show', client %></td>
                            <td class="actions"><%= link_to 'Edit', edit_client_path(client) %></td>
                            <td class="actions"><%= link_to 'Delete', client, :confirm => 'Are you sure?', :method => :delete %></td>
                          </tr>
                        <% end %>
                        </table>
                        
                    <% end %>

                    <br />

                    <%= link_to 'New Client', new_client_path %>
                </div>
            </div>
        </div>
	</div>

    <%= render :partial => "home/navigation" %>
	
	<div class="clearer"><span></span></div>

    <%= render :partial => "home/footer" %>

</div>
    