<div class="container">

    <%= render :partial => "home/header" %>
		
	<div class="main">

		<div class="item">
            
		    <div class="date">
		        <div>&nbsp</div>
		        <span>&nbsp</span>
		    </div>

		    <div class="content">
		        <h1>Showing Client</h1>
		        
		        <div class="body">
		            
		            <% if not notice.nil? %>
		            	<p id="notice"><%= notice %></p>
		            <% end %>

		            <p>
		              <b>Family ID:</b>
		              <%= @client.family_id %>
		            </p>
		            
		            <p>
		              <b>Name:</b>
		              <%= @client.get_client_name %>

		            <p>
		              <b>Gender:</b>
		              <%= @client.gender %>
		            </p>

		            <p>
		              <b>Birth Date:</b>
		              <%= @client.birthdate %>
		            </p>

		            <p>
		              <b>Email Address:</b>
		              <%= @client.emailaddress %>
		            </p>

		            <p>
		              <b>AHC Number:</b>
		              <%= @client.ahcnumber %>
		            </p>

		            <p>
		              <b>Health Information:</b>
		              <%= @client.healthinfo %>
		            </p>

		            <p>
		                <b>Client Types:</b>
		                <%= @client.ctypes.find(@client.ctype_ids).map { |t| t.description }.join(", ") %>
		            </p>
		            
		            <%= link_to 'Edit Client', edit_client_path(@client) %> |
		            <%= link_to 'Back to Clients', clients_path %>
		            
		        </div><!--body-->
		    </div><!--content-->
        	</div><!--item-->
        	
        	<div class="item">
            
		    <div class="date">
		        <div>&nbsp</div>
		        <span>&nbsp</span>
		    </div>

		    <div class="content">
		        <h1>Notes</h1>
		        
		        <div class="body">
		        	<%= render @client.cnotes %>

				<h2>Add a note:</h2><br />
				<%= render "cnotes/form" %>
			</div><!--body-->
		    </div><!--content-->
        	</div><!--item-->
	</div><!--main-->

	<%= render :partial => "home/navigation" %>
	
	<div class="clearer"><span></span></div>

	<%= render :partial => "home/footer" %>

</div><!--container-->            
