	<div class="navigation">

		<h1>Locales</h1>
		<ul>
			<li><%= link_to "Cities/Towns", locations_path %></li>
			<li><%= link_to "Communities", communities_path %></li>
		</ul>
        
        <h1>Households</h1>
		<ul>
            <li><%= link_to "Households", households_path %></li>
			<li><%= link_to "Families", families_path %></li>
            <li><%= link_to "Family States", fstates_path %></li>
		</ul>
        
        <h1>Clients</h1>
		<ul>
			<li><%= link_to "Clients", clients_path %></li>
			<li><%= link_to "Client Types", ctypes_path %></li>
		</ul>
        
        <h1>Donations</h1>
		<ul>
			<li><%= link_to "Donors", donors_path %></li>
            <li><%= link_to "Donees", donees_path %></li>
			<li><%= link_to "Donor/Donee Types", dtypes_path %></li>
            <li><%= link_to "Incoming Donations", indonations_path %></li>
            <li><%= link_to "Outgoing Donations", outdonations_path %></li>
		</ul>
        <h1>Referrals</h1>
		<ul>
			<li><%= link_to "Referral Agencies", refagencies_path %></li>
            <li><%= link_to "Referral Agency Categories", refagencycategories_path %></li>
			<li><%= link_to "Referrals", referrals_path %></li>
		</ul>

	</div>