<%= form_for(@donee) do |f| %>
  <% if @donee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@donee.errors.count, "error") %> prohibited this donee from being saved:</h2>

      <ul>
      <% @donee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :phone1, "Primary Phone Number" %><br />
    <%= f.text_field :phone1 %>
  </div>
  <div class="field">
    <%= f.label :phone2, "Alternate Phone Number" %><br />
    <%= f.text_field :phone2 %>
  </div>
  <div class="field">
    <%= f.label :unit %><br />
    <%= f.text_field :unit %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :emailaddress, "Email Address" %><br />
    <%= f.text_field :emailaddress %>
  </div>
  <div class="field">
    <%= f.label :contact, "Contact Name" %><br />
    <%= f.text_field :contact %>
  </div>
  <div class="field">
    <%= f.label :location, "City" %><br />
    <% @locations = Location.all.map{|l| [l.get_location_name, l.id]} %>
    <%= f.select(:location_id, @locations, {:include_blank => "--Select a Location--"}) %>
  </div>
  <div class="field">
    <%= f.label :dtype, "Donee Type" %><br />
    <% @dtypes = Dtype.all.map{|dt| [dt.description, dt.id]} %>
    <%= f.select(:dtype_id, @dtypes, {:include_blank => "--Select a Donee Type--"}) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
