<div class="container">

    <%= render :partial => "home/header" %>
		
	<div class="main">

		<div class="item">
            
            <div class="date">
                <div>&nbsp</div>
                <span>&nbsp</span>
            </div>

            <div class="content">
                <h1>Listing Donees</h1>
                
                <div class="body">  
                
                    <% if @donees.nil? || @donees.empty? %>
                        
                        <p>There are no donees.</p>
                    
                    <% else %>
                    
                        <table>
                          <tr>
                            <th>Name</th>
                            <th>Type</th>
                            <th></th>
                            <th></th>
                            <th></th>
                          </tr>

                        <% @donees.each do |donee| %>
                          <tr bgcolor="<%= cycle("E8F6BF", "FFFFFF")%>">
                            <td><%= donee.name %></td>
                            <td><%= donee.dtype.description unless (donee.dtype.nil?) %></td>
                            <td class="actions"><%= link_to 'Show', donee %></td>
                            <td class="actions"><%= link_to 'Edit', edit_donee_path(donee) %></td>
                            <td class="actions"><%= link_to 'Delete', donee, :confirm => 'Are you sure?', :method => :delete %></td>
                          </tr>
                        <% end %>
                        </table>
                        
                    <% end %>

                    <br />

                    <%= link_to 'New Donee', new_donee_path %>

                </div>
            </div>
        </div>
	</div>

    <%= render :partial => "home/navigation" %>
	
	<div class="clearer"><span></span></div>

    <%= render :partial => "home/footer" %>

</div>    