<h1>Listing refagencycategories</h1>

<table>
  <tr>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @refagencycategories.each do |refagencycategory| %>
  <tr>
    <td><%= refagencycategory.description %></td>
    <td><%= link_to 'Show', refagencycategory %></td>
    <td><%= link_to 'Edit', edit_refagencycategory_path(refagencycategory) %></td>
    <td><%= link_to 'Destroy', refagencycategory, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Refagencycategory', new_refagencycategory_path %>
