<div class="container">

    <%= render :partial => "home/header" %>
		
	<div class="main">

		<div class="item">
            
            <div class="date">
                <div>&nbsp</div>
                <span>&nbsp</span>
            </div>

            <div class="content">
                <h1>Listing Referral Agency Categories</h1>
                
                <div class="body">

                    <% if @refagencycategories.nil? || @refagencycategories.empty? %>
                        
                        <p>There are no referral agency categories.</p>
                    
                    <% else %>        

                        <table>
                          <tr>
                            <th>Description</th>
                            <th></th>
                            <th></th>
                            <th></th>
                          </tr>

                        <% @refagencycategories.each do |refagencycategory| %>
                          <tr bgcolor="<%= cycle("E8F6BF", "FFFFFF")%>">
                            <td><%= refagencycategory.description %></td>
                            <td class="actions"><%= link_to 'Show', refagencycategory %></td>
                            <td class="actions"><%= link_to 'Edit', edit_refagencycategory_path(refagencycategory) %></td>
                            <td class="actions"><%= link_to 'Delete', refagencycategory, :confirm => 'Are you sure?', :method => :delete %></td>
                          </tr>
                        <% end %>
                        </table>
                        
                    <% end %>

                    <br />

                    <%= link_to 'New Referral Agency Category', new_refagencycategory_path %>
                </div>
            </div>
        </div>
	</div>

    <%= render :partial => "home/navigation" %>
	
	<div class="clearer"><span></span></div>

    <%= render :partial => "home/footer" %>

</div>                           