<%= form_for(@referral) do |f| %>
  <% if @referral.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@referral.errors.count, "error") %> prohibited this referral from being saved:</h2>

      <ul>
      <% @referral.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :refagency, "Referral Agency" %><br />
    <% @refagencies = Refagency.all.map{|ra| [ra.name, ra.id]} %>
    <%= f.select(:refagency_id, @refagencies, {:include_blank => "--Select an Agency--"}) %>
  </div>
  <div class="field">
    <%= f.label :details %><br />
    <%= f.text_area :details %>
  </div>
  <div class="field">
    <%= f.label :numberofadults, "Number of Adults" %><br />
    <%= f.number_field :numberofadults %>
  </div>
  <div class="field">
    <%= f.label :numberofchildren, "Number of Children" %><br />
    <%= f.number_field :numberofchildren %>
  </div>
  <div class="field">
    <%= f.label :referraldate, "Referral Date" %><br />
    <%= f.date_select :referraldate %>
  </div>
  <div class="field">
    <%= f.label :clientname, "Client Name" %><br />
    <%= f.text_field :clientname %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
