<%= form_for(@referral) do |refagency_form| %>
  <% if @referral.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@referral.errors.count, "error") %> prohibited this referral from being saved:</h2>

      <ul>
      <% @referral.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <% @refagency_readonly = (not params[:refagency_id].nil?) && (params[:action] == "new") %>

  <div class="field">
    <% if @refagency_readonly %>
        <%= refagency_form.hidden_field :refagency_id, {:readonly => true, :hidden => true, :value => params[:refagency_id]} %>
        
    <% else %>
        <%= refagency_form.label :refagency_id, "Referral Agency" %><br />
        <%  @refagencies = Refagency.all.map{|ra| [ra.name, ra.id]} %>
        <%= refagency_form.select(:refagency_id, @refagencies, {:include_blank => "--Select an Agency--"}) %>
    <% end %>
  </div>
  <div class="field">
    <%= refagency_form.label :details %><br />
    <%= refagency_form.text_area :details %>
  </div>
  <div class="field">
    <%= refagency_form.label :numberofadults, "Number of Adults" %><br />
    <%= refagency_form.number_field :numberofadults %>
  </div>
  <div class="field">
    <%= refagency_form.label :numberofchildren, "Number of Children" %><br />
    <%= refagency_form.number_field :numberofchildren %>
  </div>
  <div class="field">
    <%= refagency_form.label :referraldate, "Referral Date" %><br />
    <%= refagency_form.date_select :referraldate %>
  </div>
  <div class="field">
    <%= refagency_form.label :clientname, "Client Name" %><br />
    <%= refagency_form.text_field :clientname %>
  </div>
  <div class="actions">
    <%= refagency_form.submit %>
  </div>
<% end %>
