<div class="container">

    <%= render :partial => "home/header" %>
		
	<div class="main">

		<div class="item">
            
            <div class="date">
                <div>&nbsp</div>
                <span>&nbsp</span>
            </div>

            <div class="content">
                <h1>Listing Referrals</h1>
                
                <div class="body">

                    <% if @referrals.nil? || @referrals.empty? %>
                        
                        <p>There are no referrals.</p>
                    
                    <% else %>   

                        <table>
                          <tr>
                            <th>Agency</th>
                            <th>Date</th>
                            <th>Client</th>
                            <th></th>
                            <th></th>
                            <th></th>
                          </tr>

                        <% @referrals.each do |referral| %>
                          <tr bgcolor="<%= cycle("E8F6BF", "FFFFFF")%>">
                            <td><%= referral.refagency.try(:name) %></td>
                            <td><%= referral.referraldate %></td>
                            <td><%= referral.clientname %></td>
                            <td><%= link_to 'Show', referral %></td>
                            <td><%= link_to 'Edit', edit_referral_path(referral) %></td>
                            <td class="actions"><%= link_to 'Delete', referral, :confirm => 'Are you sure?', :method => :delete %></td>
                          </tr>
                        <% end %>
                        </table>
                    <% end %>

                    <br />

                    <%= link_to 'New Referral', new_referral_path %>
                </div>
            </div>
        </div>
	</div>

    <%= render :partial => "home/navigation" %>
	
	<div class="clearer"><span></span></div>

    <%= render :partial => "home/footer" %>

</div>  