<%= form_for(@outdonation) do |donee_form| %>
  <% if @outdonation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@outdonation.errors.count, "error") %> prohibited this outdonation from being saved:</h2>

      <ul>
      <% @outdonation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% @donee_readonly = (not params[:donee_id].nil?) && (params[:action] == "new") %>

  <div class="field">
    <% if @donee_readonly %>
        <%= donee_form.hidden_field :donee_id, {:readonly => true, :hidden => true, :value => params[:donee_id]} %>
        
    <% else %>
        <%= donee_form.label :donee_id, "Donee" %><br />
        <%  @donees = Donee.all.map{|d| [d.name, d.id]} %>
        <%= donee_form.select(:donee_id, @donees, {:include_blank => "--Select a Donee--"}) %>
    <% end %>
  </div>
  <div class="field">
    <%= donee_form.label :donationdate, "Date of Donation" %><br />
    <%= donee_form.date_select :donationdate %>
  </div>
  <div class="field">
    <%= donee_form.label :weightdonated, "Weight of Items Donated" %><br />
    <%= donee_form.text_field :weightdonated %>
  </div>
  <div class="field">
    <%= donee_form.label :moneydonated, "Amount of Money Donated" %><br />
    <%= donee_form.text_field :moneydonated %>
  </div>
  <div class="field">
    <%= donee_form.label :details %><br />
    <%= donee_form.text_area :details %>
  </div>
  <div class="actions">
    <% if params[:action] == "new"
            @submit_label = "Create Donation"
       else
            @submit_label = "Update Donation"
       end %>
    <%= donee_form.submit @submit_label%>
  </div>
<% end %>
