<%= form_for(@vtype) do |f| %>
  <% if @vtype.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vtype.errors.count, "error") %> prohibited this volunteer type from being saved:</h2>

      <ul>
      <% @vtype.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <% if params[:action] == "new"
            @submit_label = "Create Type"
       else
            @submit_label = "Update Type"
       end %>
    <%= f.submit @submit_label%>
  </div>
<% end %>
