<div class="container">

    <%= render :partial => "home/header" %>
		
	<div class="main">

		<div class="item">
            
            <div class="date">
                <div>&nbsp</div>
                <span>&nbsp</span>
            </div>

            <div class="content">
                <h1>Editing Volunteer Type</h1>
                
                <div class="body">  

                    <%= render 'form' %>

                    <%= link_to 'Show', @vtype %> |
                    <%= link_to 'Back', vtypes_path %>
                </div>
            </div>
        </div>
	</div>

    <%= render :partial => "home/navigation" %>
	
	<div class="clearer"><span></span></div>

    <%= render :partial => "home/footer" %>

</div>  