<tr bgcolor="<%= cycle("E8F6BF", "FFFFFF")%>">
    <td><%= community.name %></td>
    <td><%= community.jurisdiction_description %></td>
    <td><%= link_to 'Show', community %></td>
    <td><%= link_to 'Edit', edit_community_path(community) %></td>
</tr>