<div class="container">

    <%= render :partial => "home/header" %>
		
	<div class="main">

		<div class="item">
            
            <div class="date">
                <div>&nbsp</div>
                <span>&nbsp</span>
            </div>

            <div class="content">
                <h1>Listing Communities</h1>
                
                <div class="body">
                
                    <% if @communities.nil? || @communities.empty? %>
                        
                        <p>There are no communities.</p>
                    
                    <% else %>

                        <table>
                          <tr>
                            <th>Name</th>
                            <th>Location</th>
                            <th></th>
                            <th></th>
                            <th></th>
                          </tr>

                        <% @communities.each do |community| %>
                          <tr bgcolor="<%= cycle("E8F6BF", "FFFFFF")%>">
                            <td><%= community.name %></td>
                            <td><%= Location.find(community.location_id).get_location_name %></td>
                            <td class="actions"><%= link_to 'Show', community %></td>
                            <td class="actions"><%= link_to 'Edit', edit_community_path(community) %></td>
                            <td class="actions"><%= link_to 'Delete', community, :confirm => 'Are you sure?', :method => :delete %></td>
                          </tr>
                        <% end %>
                        </table>
                        
                    <% end %>

                    <br />

                    <%= link_to 'New Community', new_community_path %>
                </div>
            </div>
        </div>
	</div>

    <%= render :partial => "home/navigation" %>
	
	<div class="clearer"><span></span></div>

    <%= render :partial => "home/footer" %>

</div>  