<div class="container">

    <%= render :partial => "home/header" %>
		
	<div class="main">

		<div class="item">
            
            <div class="date">
                <div>&nbsp</div>
                <span>&nbsp</span>
            </div>

            <div class="content">
                <h1>Listing Locations</h1>
                
                <div class="body">  

                    <% if @locations.nil? || @locations.empty? %>
                        
                        <p>There are no locations.</p>
                    
                    <% else %>
                    
                        <table>
                          <tr>
                            <th>City</th>
                            <th>Province</th>
                            <th></th>
                            <th></th>
                            <th></th>
                          </tr>

                        <% @locations.each do |location| %>
                          <tr bgcolor="<%= cycle("E8F6BF", "FFFFFF")%>">
                            <td><%= location.city %></td>
                            <td><%= location.province %></td>
                            <td class="actions"><%= link_to 'Show', location %></td>
                            <td class="actions"><%= link_to 'Edit', edit_location_path(location) %></td>
                            <td class="actions"><%= link_to 'Delete', location, :confirm => 'Are you sure?', :method => :delete %></td>
                          </tr>
                        <% end %>
                        </table>

                    <% end %>

                    <br />

                    <%= link_to 'New Location', new_location_path %>
                </div>
            </div>
        </div>
	</div>

    <%= render :partial => "home/navigation" %>
	
	<div class="clearer"><span></span></div>

    <%= render :partial => "home/footer" %>

</div>  