<div class="container">

    <%= render :partial => "home/header" %>
		
	<div class="main">

		<div class="item">
            
            <div class="date">
                <div>&nbsp</div>
                <span>&nbsp</span>
            </div>

            <div class="content">
                <h1>Listing Households</h1>
                
                <div class="body">  
                
                    <% if @households.nil? || @households.empty? %>
                        
                        <p>There are no households.</p>
                    
                    <% else %>
                
                        <table>
                          <tr>
                            <th>Unit</th>
                            <th>Address</th>
                            <th>Community</th>
                            <th></th>
                            <th></th>
                            <th></th>
                          </tr>

                        <% @households.each do |household| %>
                          <tr bgcolor="<%= cycle("E8F6BF", "FFFFFF")%>">
                            <td><%= household.unit %></td>                      
                            <td><%= household.address %></td>
                            <td><%= Community.find(household.community_id).name %></td>
                            <td class="actions"><%= link_to 'Show', household %></td>
                            <td class="actions"><%= link_to 'Edit', edit_household_path(household) %></td>
                            <td class="actions"><%= link_to 'Delete', household, :confirm => 'Are you sure?', :method => :delete %></td>
                          </tr>
                        <% end %>
                        </table>
                        
                    <% end %>

                    <br />

                    <%= link_to 'New Household', new_household_path %>
                </div>
            </div>
        </div>
	</div>

    <%= render :partial => "home/navigation" %>
	
	<div class="clearer"><span></span></div>

    <%= render :partial => "home/footer" %>

</div>                     

